{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Django-Shop</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body style="background-color: wheat;">
 <header style="background-color: rgb(48, 33, 33); color: white; text-align:center; height:10vh; width:100%; padding-top:1px; border-radius:15px"><h1>Contact us</h1></header><br>

 <div class="header-img">
    <div class="investorb" style="background-color: rgba(37, 38, 26, 0.365); color:white; height:80vh; width:100%; border-radius: 10px;"><h1 style="padding-left: 3rem;">Keldan Django-Shop</h1>
        <p style="padding-left: 3rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit.  <br> Praesentium odio dolorem natus doloribus et dignissimos  <br>debitis reiciendis beatae corrupti, dolores voluptatibus <br> enim obcaecati, eveniet officia tempore <br> modi? Vitae, voluptatibus in?</p>
    </div>
 </div>
 <section class="products">
 <div class="products_card">
    <div class="product_img box1"><img src="{% static 'image/iphone14pm.jpg' %}" alt=""></div>
    <h5 class="text">Product</h5>
    <h3 class="text">Price</h3>
</div>
<div class="products_card">
    <div class="product_img box1"><img src="{% static 'image/iphonex.jpg' %}" alt=""></div>
    <h5 class="text">Product</h5>
    <h3 class="text">Price</h3>
</div>
<div class="products_card">
    <div class="product_img box1"><img src="{% static 'image/iphone133.jpg' %}" alt=""></div>
    <h5 class="text">Product</h5>
    <h3 class="text">Price</h3>
</div>
<div class="products_card">
    <div class="product_img box1"><img src="{% static 'image/iphone13.jpg' %}" alt=""></div>
    <h5 class="text">Product</h5>
    <h3 class="text">Price</h3>
</div>
<div class="products_card">
    <div class="product_img box1"><img src="{% static 'image/iphone15.jpg' %}" alt=""></div>
    <h5 class="text">Product</h5>
    <h3 class="text">Price</h3>
</div>
<div class="products_card">
    <div class="product_img box1"><img src="{% static 'image/iphone14.jpg' %}" alt=""></div>
    <h5 class="text">Product</h5>
    <h3 class="text">Price</h3>
</div>
<div class="products_card">
    <div class="product_img box1"><img src="{% static 'image/iphone11.jpg' %}" alt=""></div>
    <h5 class="text">Product</h5>
    <h3 class="text">Price</h3>
</div>
</section>

 
 <footer>
    <div class="copy">
        <h4 class="footer-text">© Copyright Investor B | Django-Shop</h4>
    </div>
 </footer>
</body>
</html>
